{{ ansible_managed | comment }}
[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
Type=forking
PIDFile={{ redis_confs.pidfile }}

RuntimeDirectory=redis

User={{ redis_user }}
Group={{ redis_group }}

ExecStart={{ redis_bin_path }}/redis-server /etc/redis/redis.conf
ExecStop={{ redis_bin_path }}/redis-cli shutdown
Restart=always

[Install]
WantedBy=multi-user.target
